@import "../../utils/variables.scss";

.esi-short-courses {
  &-wrapper {
    list-style: decimal;

    &::marker {
      margin-left: 15px;
    }

    &-schedule-image {
      display: flex;
      align-items: flex-end;
      margin: 8px 0;

      b {
        font-size: 22px;
        width: 30%;
        text-align: left;

        > div {
          border-bottom: 2px solid $color-orange;
          margin-bottom: 8px;
          padding-bottom: 8px;
          width: fit-content;

          &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 32px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
      margin-bottom: 8px;
      text-transform: uppercase;
    }
  }

  figure {
    margin-left: 8px;
    max-height: 400px;
    height: 100%;
    width: 70%;
    justify-content: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &-content-image {
    display: flex;
    align-items: flex-start;

    p {
      margin-top: 8px;
      text-indent: 4em;
    }
  }

  &-minibios {
    margin-top: 16px;
  }
}

@media (max-width: $tablet) {
  .esi-short-courses {
    &-content-image {
      flex-direction: column;
      align-items: center;
    }

    &-image {
      margin: 16px 16px 16px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      figure {
        max-height: 200px;
      }
    }
  }
}
