@import "../../utils/variables.scss";

.schedule-content {
  .schedule-item {
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;

    &:last-child {
      border: 0;
      padding: 0;
      margin-bottom: 0;
    }

    &-title,
    &-hour,
    &-description {
      font-size: 16px;
    }

    &-title {
      font-weight: 700;
      color: $color-orange-2;
    }

    &-hour {
      color: #666;
    }

    &-description {
      color: #333;
    }
  }
}
