@import "../../utils/variables.scss";

.esi-service {
  margin-bottom: 45px;

  &-image {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    caption {
      margin-top: 4px;
      text-align: center;
      font-style: italic;
    }
  }

  .internal-tabs .internal-tabs-wrapper {
    border-radius: 4px;
  }

  .internal-tabs-content {
    margin-top: 16px;

    .esi-service-list-recommendations {
      p {
        margin: 0;
      }

      li {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-content {
    margin-bottom: 32px;

    p {
      margin-bottom: 16px;
      text-align: justify;

      :last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: inline-flex;
      font-weight: 700;
      color: $color-orange;
      text-decoration: underline;
      align-items: center;

      svg {
        width: 15px;
        height: 15px;
        stroke: $color-orange;
      }

      &:hover {
        color: $color-orange-2;

        svg {
          stroke: $color-orange-2;
        }
      }
    }
  }
}
