$color-white: #fff;
$color-orange: #f7931e;
$color-orange-1: #fab065;
$color-orange-2: #f18437;
$color-base-light: #666;
$color-base: #333;
$color-black-default: #221e1b;
$color-black: #000;

$font-p: 16px;
$font-m: 24px;
// $font-g: 32px;
// $font-x: 40px;

$radius-p: 8px;
// $radius-m:
// $radius-g:
// $radius-x:

$mobile: 768px; // max-width $mobile
$tablet: 1024px; // min-width $mobile | max-width $tablet
$desktop: 1025px; // min-width $desktop
