@import "../../utils/variables.scss";

.social-media {
  display: flex;
  font-size: 14px;
}

.social-media-content {
  list-style: none;
  margin-left: 8px;
  color: $color-white;

  a {
    margin-right: 4px;
    display: flex;
    text-decoration: none;
    color: $color-white;

    &:hover {
      color: transparent;
      background: linear-gradient(45deg, #f18437, $color-orange);
      background-clip: border-box;
      -webkit-background-clip: text;
      background-clip: text;
      color: linear-gradient(45deg, #f18437, $color-orange);
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }

    p {
      align-content: center;
    }
  }
}
