@import "../../utils/variables.scss";

.MOBILE {
  .list-person--speakers {
    .person-image {
      display: contents;
    }
  }
}

.list-person-container {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  letter-spacing: 1.5px;

  .person {
    display: flex;
    box-sizing: border-box;
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .person-image-caption {
    font-size: 14px;
    margin-top: 4px;
  }

  .lazyload-wrapper {
    min-width: 150px;
    min-height: 150px;
    width: fit-content;
    height: 150px;
    margin-right: 16px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-self: flex-start;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .person-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .person-presentation {
    font-weight: 700;
    font-size: 14px;
  }

  .person-details {
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .person-details-content {
    text-align: justify;

    a {
      color: #f7931e;
    }
  }
}
