@import "../../utils/variables.scss";

.search-container {
  position: relative;
  width: 100%;
  justify-content: right;
  display: flex;
  width: 300px;
}

.search {
  padding: 10px 30px 10px 10px;
  background-color: $color-white;
  border-radius: 4px;
  outline: none;
  border: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: $color-black;
  font-family: "Roboto", sans-serif;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;

  &:hover {
    color: $color-orange;
  }
}
