@import "../../utils/variables.scss";

.header {
  display: flex;
  background-color: $color-black-default;
  width: 100%;
  height: 42px;

  &-wrapper {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: $mobile) {
  .header-wrapper {
    max-width: 400px;
  }
}

@media (min-width: $mobile) and (max-width: $tablet) {
  .header-wrapper {
    max-width: 600px;
  }
}
