@import "../../utils/variables.scss";

.footer {
  max-width: 1200px;
  width: 100%;
  color: $color-white;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .footer-webdesigner {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    a {
      color: $color-white;
    }
  }

  .footer-column {
    margin: 10px 10px 0 10px;

    .lazyload-wrapper {
      justify-content: center;

      img {
        background-size: cover;
        width: 100%;
      }
    }

    h3 {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: $mobile) {
  .footer {
    max-width: auto;

    .footer-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .footer-column {
      margin: 16px;
    }
  }
}

@media (min-width: $mobile) and (max-width: $tablet) {
  .footer {
    max-width: auto;

    .footer-wrapper {
      flex-direction: row;
    }

    .footer-column {
      margin: 16px;
    }
  }
}
