@import "./utils/variables.scss";
@import "./utils/reset.scss";

body {
  color: $color-white;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom right, $color-base, $color-black);
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.container {
  margin-left: calc(100% - 980px / 2);
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: $mobile) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: $mobile) and (max-width: $tablet) {
  .container {
    max-width: 600px;
  }
}
