@import "../../utils/variables.scss";

.esi-home {
  &-banner-primary {
    margin-bottom: 16px;
    border-radius: 8px;
    width: 100%;

    .placeholder {
      width: 100%;
      min-height: 600px;
    }
  }

  .esi-home-address {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 16px;

    a {
      color: $color-orange;
      cursor: pointer;
      text-decoration: none;
      font-weight: 400;
      margin-left: 4px;
      display: flex;
      align-items: flex-start;
      text-indent: 2em;
    }

    label {
      display: inline-flex;
      font-weight: 700;
      flex-direction: column;
    }
  }

  &-presentation {
    flex-direction: column;

    &-link {
      font-size: 24px;
      color: $color-orange;
      font-weight: 700;
      margin-top: 30px;
      width: fit-content;

      &:hover {
        color: $color-orange-2;

        svg {
          stroke: $color-orange-2;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        stroke: $color-orange;
      }
    }

    p {
      text-align: justify;
      color: $color-black;
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 1.5px;
      text-indent: 4em;
    }
  }

  &-videos {
    margin: 16px 0;
    flex-direction: row;
    height: 350px;
    position: relative;

    .esi-home-image-with-text {
      width: 50%;
      margin-right: 8px;
    }
  }

  .esi-home-image-with-text {
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    .lazyload-wrapper img {
      width: 100%;
      object-fit: cover;
    }

    .esi-home-image-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      width: 100%;
      height: 100%;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      text-align: center;

      p {
        font-size: 30px;
      }

      h2 {
        font-size: 50px;
        color: $color-white;
        text-transform: uppercase;
      }
    }
  }

  .lazyload-wrapper.esi-home-videos-player {
    height: 100%;
    width: 50%;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;

    .lazy-load-video {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }

  .esi-home-images {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;

    .esi-home-image-with-text {
      width: 100%;
      height: 250px;
      margin-bottom: 16px;
    }

    .esi-home-image h3 {
      font-size: 24px;
      margin-bottom: 16px;
      color: $color-white;
    }

    &-wrapper {
      display: flex;
      margin-bottom: 16px;

      .lazyload-wrapper {
        max-height: 600px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
          object-fit: fill;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .esi-home {
    .esi-home-image-with-text {
      .esi-home-image-text {
        p {
          font-size: 18px;
        }

        h2 {
          font-size: 30px;
        }
      }
    }

    .esi-home-images {
      &-wrapper {
        display: flex;
        flex-direction: column;

        .lazyload-wrapper {
          img {
            object-fit: scale-down;
            max-height: 600px;
            width: 100%;
            height: 100vh;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .esi-home {
    &-presentation p {
      font-size: 16px;
    }

    .esi-home-videos {
      flex-direction: column;
      height: auto;

      .esi-home-videos-player {
        width: 100%;
        max-height: 320px;

        .lazy-load-video {
          width: 100%;
          height: auto;
        }
      }

      .esi-home-image-with-text {
        margin-right: 0;
      }
    }

    .esi-home-image-with-text {
      width: 100%;
      max-height: 250px;
      margin-bottom: 16px;
    }

    .esi-home-images {
      &-wrapper {
        .lazyload-wrapper {
          margin-right: 16px;
          margin-bottom: 16px;

          img {
            max-height: 600px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
